/* Font Manrope, Poppins */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Browser style-reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  max-width: 90vw;
  margin: 0 auto;
  background-color: #013a63;
  background-image: url(./assets/images/background-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover, contain;
  position: relative;
}

/* Navigation Bar */
nav.nav-container {
  margin: 2vh auto;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 2vw;
  backdrop-filter: blur(1.1px);
  box-shadow: 0px 5px 15px #979dac5c;
}

.nav-container img {
  height: 6vh;
}

.nav-container .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 2vw;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 700;
  width: 48vw;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.hire-me {
  background-color: #3e92cc;
  font-size: 1.3em;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 10px 8px;
  border-radius: 30px;
  width: 12vw;
  text-align: center;
}

.nav-icons {
  display: flex;
  gap: 1vw;
}

.nav-icons div > i {
  color: #ffffff4f;
}

/*Hero Space */
main.hero section h1,
p {
  padding: 30px 0px;
}

section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-top: 3em;
  gap: 2rem;
  padding: 20px;
  letter-spacing: 1.5px;
}

main.hero {
  margin: 3vh 0;
  text-align: center;
  color: #ffff;
}

.hero-stmt-container {
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: baseline;
  justify-content: space-around;
  width: 90vw;
  gap: 5vh;
}

.hero-statement {
  position: relative;
  top: 8vh;
  text-align: left;
}

.hero-statement > h1 {
  font-size: 5em;
}

.hero-statement > p {
  font-size: 1.5em;
}

.hero-image {
  /* Hero image container */
  position: relative;
  top: -2em;
  right: 8%;
  width: 28vw;
  height: 40vh;
}

.hero-image img {
  /* Each image */
  position: absolute;
  box-shadow: 2px 3px 10px #fca311;
}

#business-page {
  top: 15em;
  left: 16em;
  width: 35em;
  z-index: 1;
}

#backdrop-image {
  top: 1em;
  left: -5%;
  width: 40em;
  z-index: 2;
  box-shadow: none;
}

#fitness-page {
  top: 19em;
  left: -1em;
  width: 30em;
  z-index: 3;
}

#hero-whitespace {
  height: 18vh;
  width: 90vw;
}

#pitch-container {
  position: relative;
  display: flex;
  margin-top: 2vh;
  width: 100vw;
  height: 40vh;
  color: #013a63;
}
.pitch {
  position: absolute;
  translate: -6% 0;
  background-color: #ffffff;
  width: 100vw;
  border-top: 8px solid #8daa91;
  border-bottom: 8px solid #8daa91;
  padding: 5vh 0;
  box-shadow: 3px 3px 10px #72ddf7;
}

.pitch > h1 {
  font-size: 2.5rem;
}

.pitch > p {
  font-size: 1.5rem;
  padding: 0 20vw;
}

main.hero .pitch .open-opp {
  width: 20vw;
  margin: 1.5em auto 1.5em;
}

section .offer-container {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-around;
  align-content: center;
  gap: 30px;
  padding: 3vh 0;
  backdrop-filter: blur(50px);
  color: #013a63;
  border-radius: 2em;
  box-shadow: 3px 3px 10px #72ddf7;
}

section .offerings {
  width: 20vw;
  gap: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 1vh 0;
  border-bottom: 4px double #ffffff;
  box-shadow: 4px 4px 10px 5px #8daa91;
  border-radius: 2em;
}

section .offerings h2 {
  text-align: center;
  align-content: center;
  height: 70px;
  font-size: 2.5rem;
}

section .offerings p {
  text-align: center;
  font-size: 1.2rem;
  padding: 3vh 1vw;
}

section .offerings span {
  font-size: 0.9rem;
  text-align: center;
  padding: 1vh 0.5vw;
}

section .offerings p > i {
  font-size: 4rem;
  color: gray;
  margin: 0px 2vw;
}

footer {
  position: relative;
  width: 90%;
  margin: 80px auto 20px;
  font-size: 0.8rem;
  color: #3e92cc;
  background-color: #f8f9fa11;
  box-shadow: 3px 3px 10px #72ddf7;
}

footer .footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
}

footer .footer-container > div {
  border-right: 4px double #72ddf7;
}

footer .footer-container div img {
  width: 10vw;
  grid-area: 1/1/2/2;
  padding: 30px 0;
}
footer .footer-container h3 {
  font-size: 1.3rem;
  color: #72ddf7;
}

footer .footer-container .socials {
  display: flex;
  flex-direction: column;
  grid-area: 1/2/2/3;
  gap: 20px;
}

footer .footer-container .socials .footer-icon {
  display: flex;
  justify-content: space-around;
  gap: 2em;
  margin-top: 4.5em;
}

.fa-brands {
  font-size: 1.6rem;
}

footer .footer-links ul {
  list-style: none;
  padding-top: 20px;
  line-height: 20px;
  font-size: 1.1rem;
}

footer .footer-links ul li {
  padding: 10px 0;
}

footer .footer-links ul a {
  color: #3e92cc;
}

.ender {
  position: absolute;
  right: -6%;
  font-size: 0.7rem;
  color: gray;
  text-align: center;
  background-color: #f8f9fa;
  width: 100vw;
}
