/* Font Manrope, Poppins */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Browser style-reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #013a63;
  background-image: url(./assets/images/background-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover, contain;
  position: relative;
}

/* Navigation Bar */
nav.nav-container {
  position: relative;
  margin: 3px auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 20px;
  backdrop-filter: blur(1.1px);
  box-shadow: 0px 5px 15px 5px #979dac5c;
}

.nav-container img {
  height: 50px;
}

.nav-container .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 20px;
  list-style: none;
  font-size: 1.1rem;
  font-weight: 700;
  width: 400px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.hire-me {
  position: relative;
  background-color: #3e92cc;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 8px 5px;
  border-radius: 30px;
  width: 250px;
  text-align: center;
}

.hire-me:hover {
  animation: 2000ms spin ease infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0;
  inherits: true;
}

.hire-me::after {
  content: "";
  position: absolute;
  background-image: conic-gradient(
    from var(--angle),
    #0b132b,
    #1c2541,
    #3a506b,
    #5bc0be,
    #6fffe9
  );
  height: 100%;
  width: 100%;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 1.5px;
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }
  20% {
    --angle: 72deg;
  }
  40% {
    --angle: 144deg;
  }
  60% {
    --angle: 216deg;
  }
  80% {
    --angle: 288deg;
  }
  100% {
    --angle: 360deg;
  }
}

.nav-icons {
  display: flex;
  gap: 15px;
}

.nav-icons div > i {
  color: #ffffff4f;
  font-size: 18px;
}

/*Hero Space */
main.hero section h1,
p {
  padding: 30px 0px;
}

section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-top: 25px;
  gap: 20px;
  padding: 20px;
  letter-spacing: 1.3px;
}

main.hero {
  text-align: center;
  color: #ffff;
}

.hero-stmt-container {
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: center;
  justify-content: space-around;
  width: 98%;
  gap: 20px;
}

.hero-statement {
  /* position: relative; */
  /* top: 40px; */
  text-align: left;
}

.hero-statement > h1 {
  font-size: 40px;
}

.hero-statement > p {
  font-size: 1.1em;
}

.hero-image {
  /* Hero image container */
  width: 600px;
}

.hero-image img {
  /* Each image */
  position: relative;
}

#hero-image {
  width: 600px;
  filter: drop-shadow(2px 8px 15px #fca311);
}

#hero-whitespace {
  height: 30px;
  width: 95vw;
}

#pitch-container {
  /* position: relative; */
  width: 130vw;
}
.pitch {
  /* position: absolute; */
  background-color: #ffffff;
  color: #013a63;
  /* left: 0;
  top: 0; */
  width: 100%;
  border-top: 8px solid #8daa91;
  border-bottom: 8px solid #8daa91;
  box-shadow: 3px 3px 10px #72ddf7;
}

.pitch > h1 {
  font-size: 2.5rem;
}

.pitch > p {
  font-size: 1.2rem;
  text-wrap: balance;
  padding: 0 50px;
}

main.hero .pitch .open-opp {
  width: 20vw;
  margin: 50px auto 20px;
}

section .offer-container {
  width: 1300px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 30px;
  padding: 3vh 0;
  backdrop-filter: blur(50px);
  color: #013a63;
  border-radius: 2em;
  box-shadow: 3px 3px 10px #72ddf7;
}

section .offerings {
  width: 350px;
  gap: 20px;
  background-color: #f8f9fa;
  padding: 1vh 0;
  border-bottom: 4px double #ffffff;
  box-shadow: 4px 4px 10px 5px #8daa91;
  border-radius: 2em;
}

section .offerings h2 {
  text-align: center;
  align-content: center;
  height: 70px;
  font-size: 1.5rem;
}

section .offerings p {
  text-align: center;
  text-wrap: balance;
  font-size: 0.8rem;
  padding: 3vh 1vw;
}

section .offerings span {
  font-size: 0.9rem;
  text-align: center;
  text-wrap: balance;
  padding: 1vh 0.5vw;
}

section .offerings p > i {
  font-size: 2.5rem;
  color: gray;
  margin: 0px 2vw;
}

footer {
  position: relative;
  width: 97%;
  margin: 80px auto 20px;
  font-size: 0.5rem;
  color: #3e92cc;
  background-color: #f8f9fa11;
  box-shadow: 3px 3px 10px #72ddf7;
}

footer .footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  text-align: center;
}

footer .footer-container > div {
  border-right: 4px double #72ddf7;
  border-bottom: 4px double #72ddf7;
}

footer .footer-container div img {
  width: 7vw;
  grid-area: 1/1/2/2;
  padding: 30px 0;
}
footer .footer-container h3 {
  font-size: 0.8rem;
  padding-top: 10px;
  color: #72ddf7;
}

footer .footer-container .socials {
  display: flex;
  flex-direction: column;
  grid-area: 1/2/2/3;
  gap: 5px;
}

footer .footer-container .socials .footer-icon {
  display: flex;
  justify-content: space-around;
  gap: 2em;
  margin-top: 4.5em;
}

.fa-brands {
  font-size: 1.2rem;
  color: #f8f9fa;
}

footer .footer-links ul {
  list-style: none;
  padding-top: 10px;
  line-height: 5px;
  font-size: 0.7rem;
}

footer .footer-links ul li {
  padding: 10px 0;
}

footer .footer-links ul a {
  color: #c7e2f5;
}

.ender {
  position: absolute;
  /* right: -6%; */
  font-size: 0.7rem;
  color: gray;
  text-align: center;
  background-color: #f8f9fa;
  width: 1300px;
}

.ender > p {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (max-width: 1229px) and (min-width: 1027px) {
  .hero-statement {
    text-align: center;
  }
}
